@if(isUploadEnabled){
  <h2>Script Form</h2>
  <div class="script-form">
    <form (ngSubmit)="saveForm()">
      <label>
        Name:
        <input type="text" [(ngModel)]="scriptInput.name" name="name" required />
      </label>

      <label>
        Description:
        <textarea [(ngModel)]="scriptInput.description" name="description" required></textarea>
      </label>

      <label>
        Type:
        <input type="text" [(ngModel)]="scriptInput.type" name="type" required />
      </label>

      <label>
        Tags:
        <input type="text" [(ngModel)]="scriptInput.tags" name="tags" required />
      </label>

      <label>
        Script Name:
        <input
          type="text"
          [(ngModel)]="scriptInput.scriptName"
          name="scriptName"
          required
        />
      </label>

      <label>
        Arguments:
        <input
          type="number"
          [(ngModel)]="scriptInput.arguments"
          name="arguments"
          required
        />
      </label>

      <label>
        Developers:
        <input
        type="text"
        #developerInput
        placeholder="Enter developers separated by commas"
        (blur)="updateDevelopers(developerInput.value)"
      />
      </label>

      <!-- Embedded Upload Section -->
     <!--  <div class="dialog-backdrop">
        <div class="dialog"> -->
          <h3>Upload Script File</h3>
          <input type="file" (change)="onFileSelected($event)" />
          <p *ngIf="uploadedFileName">Selected file: {{ uploadedFileName }}</p>

          <div class="dialog-actions">
            <button type="button" (click)="uploadFile()">Upload</button>
            <button type="button" (click)="validateFile()">Validate</button>
            <button type="button" (click)="closeDialog()">Close</button>
          </div>
        <!-- </div>
      </div> -->

    </form>

    <button class="submit-btn" type="submit" (click)="onSubmit()" [disabled]=isSubmitButtonDisabled>Submit</button>

  </div>
}
