@if(isInsightsEnabled){
<div class="dialog">
<div class="insights-container">
  <div class="image-wrapper">
    <img src="assets/Language_Used.png" alt="Lanuguage used Graph" />
    <p>Most lanuguage used</p>
  </div>
  <div class="image-wrapper">
    <img src="assets/pie-chart.png" alt="Pie Chart 1" />
    <p>Most executed script</p>
  </div>
  <div class="image-wrapper">
    <img src="assets/Servers_used.png" alt="Servers Chart 2" />
    <p>Most Servers Used</p>
  </div>
</div>
<button (click)="closeInsights()">Close</button>
</div>
}
