p {
  color: rgb(8, 8, 11);;
  text-align: left;
}


.main-props {
  text-align: left;
}

.container {
  padding: 15px;
  width: 50%
}

.script-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
}

h3 {
  color: #2c3e50;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  margin-bottom: 10px;
}

h2{
  color: rgb(8, 8, 11);
}

h4{
  color: rgb(8, 8, 11);
}

strong{
  color: rgb(8, 8, 11);
}

em{
  color:rgb(8, 8, 11);
}

.script-details-flex {
  position: relative;
}

.script-details-flex > p {
  display: block; /* Forces block-level display */
}

.toggle-button {
  margin: 10px;
  padding: 5px 10px;
  background-color: #2274b2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.toggle-button:hover {
  background-color: #450ec6;
}

.argument-item {
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 10px 0;
}

.arg-input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 300px;
}

.update-button {
  padding: 5px 10px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.update-button:hover {
  background-color: #c82333;
}

.comments-container {
  margin: 20px;
}

.comment-item {
  background-color: #c2df9a;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.comment-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.comment-details {
  display: flex;
  flex-direction: column;
}

.comment-author {
  font-weight: bold;
  font-size: 16px;
  margin: 0;
}

.comment-time {
  font-size: 12px;
  color: #777;
  margin: 0;
}

.comment-text {
  font-size: 14px;
  margin-top: 5px;
  line-height: 1.5;
}

.about-title {
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
  }

  .star-container {
    display: flex;
    gap: 5px;
  }

  .star {
    font-size: 2rem;
    color: gray;
  }

  .star.filled {
    color: gold;
  }

  .like-button {
    padding: 5px 5px;
    background-color: #2274b2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .like-button:hover {
    background-color: #450ec6;
  }

  .fullDetails{
    height: 100vh;
    overflow: auto;
  }
