h2{
  color: rgb(8, 8, 11);
}

p {
  color: rgb(8, 8, 11);;
  text-align: left;
}

.close-button {
  padding: 15px 30px;
  background-color: #2274b2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
  position: absolute;
}

.close-button:hover {
  background-color: #450ec6;
}
