@if(userType === 'ADMIN'){
  <p>Admin Screen</p>
}

<div class="table-container">
  <h1 class="table-title">Scripts</h1>
  <div class="optional">
  @if(userType === 'ADMIN'){
    <button class="add-script-button" (click)="enableUpload()">Register Script</button>
    <button class="audit-button" (click)="enableAudit()">Audit</button>
    <button class="review-button" (click)="enableReview()">Review</button>
    <!-- <button class="add-server-button" (click)="registerServer()">Register Server</button> -->
    <button class="insights-button" (click)="insights()">Insights</button>
  }
</div>
  <table class="scripts-table">
    <thead>
      <tr>
        <th>#</th>
        <th>Script Name</th>
        <th>Description</th>
        <th>Type</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let script of scripts; let i = index"
      (click)="onRowClick(i)"
        [class.selected]="isSelected(i)">
        <td>{{ i + 1 }}</td>
        <td>{{ script.name }}</td>
        <td>{{ script.description }}</td>
        <td>{{ script.type }}</td>
        <td>{{ script.status }}</td>
        <td>
          <button (click)="executeScript(script)" class="execute-button">Execute</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="header-container">
  <button class="logout-button" (click)="onLogout()">Logout</button>
</div>

<div class="upload-option">
  <app-upload-script (isUploadDisabled)="disableUpload()" [isUploadEnabled]="isUploadEnabled"></app-upload-script>
</div>
