/* Container for the table */
.table-container {
  margin: 20px;
  text-align: left;
  width: 85%
}

/* Title Styling */
.table-title {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
  width: 65%;
  margin-top: 150px;
}

/* Table Styling */
.scripts-table {
  width: 65%;
  border-collapse: collapse;
}

/* Table Header */
.scripts-table th {
  background-color: #6b876c;
  color: white(24, 27, 199);
  padding: 10px;
  text-align: left;
}

/* Table Data */
.scripts-table td {
  padding: 10px;
  background-color: #dfe9dfd8;
  border: 1px solid rgb(13, 10, 28);
  cursor: pointer;
}

/* to change color of selected row*/
.scripts-table tr.selected {
  background-color: #b3c426; /* Background color for selected row */
  cursor: auto;
  border-top: 8px solid;
  border-top-color: #450ec6;
  border-bottom: 8px solid;
  border-bottom-color: #450ec6 ;
}

/* Table Row Hover Effect */
.scripts-table tr:hover {
  background-color:rgb(88, 64, 203);;
}

/* Align the table to the left corner */
.scripts-table {
  float: left;
}

/* Execute Button Styling */
.execute-button {
  padding: 5px 10px;
  background-color: #2274b2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.execute-button:hover {
  background-color: #450ec6;
}

.execute-button:active {
  background-color: grey;
}

/*add script button */
.add-script-button {
  padding: 15px 15px;
  background-color: #2274b2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: -55px;
  margin-left: 8px;
  position: absolute;
  right: 880px;
}

.add-script-button:hover {
  background-color: #450ec6;
}

.audit-button {
  padding: 15px 30px;
  background-color: #2274b2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: -55px;
  margin-left: 25px;
  position: absolute;
  right: 1010px;
}

.audit-button:hover {
  background-color: #450ec6;
}

.review-button {
  padding: 15px 30px;
  background-color: #2274b2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: -55px;
  margin-left: 25px;
  position: absolute;
  right: 1110px;
}

.review-button:hover {
  background-color: #450ec6;
}

p{
  color: rgb(203, 64, 64);
  font-weight: bold;
  font-size: xx;
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: baseline;     /* Vertically center */
}

/* Flex container to position the button */
.header-container {
  display: flex;
  justify-content: flex-end;  /* Aligns the button to the right */
  align-items: center;        /* Vertically centers the button */
  padding: 10px;              /* Adds space around the content */
  width: 100%;                /* Full width of the page */
  position: fixed;            /* Keeps the button at the top even on scroll */
  top: 0;                     /* Positions it at the top */
  z-index: 1000;              /* Ensures it stays above other elements */
}

/* Styling for the logout button */
.logout-button {
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 50px;
}

.logout-button:hover {
  background-color: #0056b3;
}

td {
  display: table-cell;
  vertical-align: inherit;
  unicode-bidi: isolate;
  color:rgb(13, 10, 28);
}

.optional {
  position: relative;
  left: 15%;
}

.add-server-button {
  padding: 15px 45px;
  background-color: #2274b2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: -55px;
  margin-left: 8px;
  position: absolute;
  right: 1235px;
}
