.move-right {
  margin-left: 30px;
  margin-right: 50px;
  padding: 20px;
  background-color: rgb(132 209 135 / 97%);
  transition:  2s ease-out;

}


form p {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}


input,
textarea {
  display: block;
  margin-top: 0.5em;
  margin-left: .5em;
  border: medium groove;
  height: 2.5em;
  width: 35em;
}

label {
  display: block;
  font-weight: bold;
  font-size: 0.85rem;
  color: #080708;
  box-sizing: border-box;
  min-width: 100px;
}

dialog {
  width: 90%;
  max-width: 70rem;
  background-color: #42b633;
  border-radius: 6px;
  border:  medium groove green;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  padding: 1rem;
  top: 12.5rem;
}

button {
  font: inherit;
  cursor: pointer;
  border: none;
  padding: 0.35rem 1.25rem;
  border-radius: 4px;
  background-color: transparent;
}

button[type="button"] {
  background-color: #44c24c;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  height: 2.5em;
  width: 10.5em;
  margin-top: 2em;
  border: none;
  border-radius: 12px;
  margin-left: .5em;
}

button:hover,
button:active {
  background-color: #475e4c;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
}

button[type="button"]:hover,
button[type="button"]:active {
  color: #d0c2e1;
}

button[type="submit"] {
  background-color: #44c24c;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  margin-left: .5em;
  height: 2.5em;
  width: 10.5em;
  margin-top: 2em;
  border: none;
  border-radius: 12px;
}

button[type="submit"]:hover,
button[type="submit"]:active {
  background-color: #475e4c;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
}

.view-button{
  margin-left: 90px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

dialog[open] {
  -webkit-animation: show 1s ease normal;
}
dialog.hide {
  -webkit-animation: hide 1s ease normal;
}
@-webkit-keyframes show{
  from {
      transform: translateY(-110%);
  }
  to {
      transform: translateY(0%);
  }
}
@-webkit-keyframes close{
  from {
    transform: translateY(0%);
}
to {
    transform: translateY(-110%);
}
}
