<div class="backdrop" (click)="onCancel()"></div>
<dialog open class="move-right">
  <h1>Meter Installation</h1>
  <h2>Add Parameters, Please Provide Inputs for the following:</h2>
  <form (ngSubmit)="onSubmit()">

    <p>
      <label for="senderId">SenderID</label>
      <input type="text" id="senderId" name="senderId" [(ngModel)]="inputs.senderId"/>
    </p>

    <p>
      <label for="industry">Industry</label>
      <input type="text" id="industry" name="industry" [(ngModel)]="inputs.industry"/>
    </p>

    <p>
      <label for="meteringType">Metering Type</label>
      <input type="text" id="meteringType" name="meteringType" [(ngModel)]="inputs.meteringType"/>
    </p>

    <p>
      <label for="start-date">Start Date</label>
      <input type="text" id="start-date" name="start-date" placeholder="yyyy-MM-dd" [(ngModel)]="inputs.startDate"/>
    </p>

    <p>
      <label for="create-date">Create Date</label>
      <input type="text" id="create-date" name="create-date" placeholder="yyyy-MM-dd'T'HH:mm:ss'Z'" [(ngModel)]="inputs.createDate"/>
    </p>

    <p>
      <label for="count">Count</label>
      <input type="text" id="count" name="count" [(ngModel)]="inputs.count"/>
    </p>

    <p>
      <label for="provider">Provider</label>
       <select id="provider" name="provider" [(ngModel)]="inputs.provider">
        <option value="" disabled selected>Select a provider</option>
       <option *ngFor="let provider of providerList" [value]="provider">{{ provider }}</option>
       </select>
    </p>

    <p>
      <label for="obis">OBIS</label>
      <select id="provider" name="provider" [(ngModel)]="inputs.obis">
        <option value="" disabled selected>Select a OBIS</option>
       <option *ngFor="let obis of obisList" [value]="obis">{{ obis }}</option>
       </select>
    </p>

    <p>
      <label for="obis2">OBIS2</label>
      <select id="provider" name="provider" [(ngModel)]="inputs.obis2">
        <option value="" disabled selected>Select a OBIS</option>
       <option *ngFor="let obis of obisList" [value]="obis">{{ obis }}</option>
       </select>
    </p>



    <p class="actions">
      <button type="button" (click)="onCancel()">Close</button>
      <button [disabled]="isRunning" type="submit">Run</button>
       @if (isCompleted) {
        <button (click)="onViewResultsEnable()" type="button">View</button>
     }
    </p>

    <p>
      <button class="requestXmlButton" type="button" (click)="onViewXml()">View Request Xmls</button>
    </p>

    <div class="status-message">
    @if(isRunning){
      <p>Running...</p>
    }

    @if(isCompleted){
      <p>Completed</p>
    }

    @if(isErrored){
      <p>Some Error Occured, please check console logs.</p>
    }
  </div>

  </form>
</dialog>
