<h1>Welcome To Script Executor!!!</h1>
@if(!isLoginDone){
<app-login (loginDone)="onAdminLogin($event)"></app-login>
}
@if(isLoginDone && !isLogoutDone){
<div class="main-container">
  <div class="app-view-scripts-container">
    <app-view-scripts (logoutDone)="onLogout()" (rowSelected)="onAboutScript()"></app-view-scripts>
  </div>
  <div class="app-about-scripts-container">
    <app-about-script class="about-script" [isEnabled]="isAboutScriptEnabled" [selectedScriptProp]="selectedScriptProp">
    </app-about-script>
  </div>
</div>
}
