h1{
    color: rgb(88, 64, 203);
    font-weight: bold;
    font-size: xx-large;
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: baseline;     /* Vertically center */
}

.main-container {
  align-items: center;
  width: 100%;
}

.about-script {
  display: flex;
  margin-top: 5px; /* Optional: Adds space above the about script component */
  align-self: flex-start;
}

.logo-container {
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px;
  z-index: 1000;
}

.logo {
  height: 85px; /* Adjust the size as needed */
  width: auto;
}
