h1{
    color: rgb(88, 64, 203);
    font-weight: bold;
    font-size: xx-large;
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: baseline;     /* Vertically center */
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Adds space between the components */
}

.about-script {
  margin-top: 20px; /* Optional: Adds space above the about script component */
  align-self: flex-start;
  padding-left: 20px;
}
