.clickable-button {
  background-color: #4dd333; /* Green background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 15px 32px; /* Some padding */
  text-align: center; /* Centered text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Inline block element */
  font-size: 16px; /* Set a font size */
  margin: 4px 2px; /* Some margin */
  cursor: pointer; /* Pointer/hand icon on hover */
  border-radius: 12px; /* Rounded corners */
  transition: background-color 0.3s ease; /* Smooth background color transition */
}

/* Change background color on hover */
.clickable-button:hover {
  background-color: #45a049; /* Darker green */
}

.move-right {
  margin-left: 10px;
  margin-right: 10px;
  padding: 20px;
}

h3{
  color: black;
}

.text-style{
  font-weight: bold;
  color: black;
}

.background-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* Use 'cover' if you want the image to cover the entire background */
  position: absolute;
  top: 42%;
  left: 30%;
  width: 800px;
  border: 10px solid #73AD21;
}

button:active,
.active {
  background-color: #45a049;
}

.appRequestXml{
  position: absolute;
  top: 22%;
  left: 55%;
}
