<section id="tasks">
  <header>
    <h2>
      {{ selectedName }}
    </h2>
    <menu>
      <button (click)="onAddNewTask()">Add Task</button>
    </menu>
  </header>
  <ul  class="custom-scrollbar">
    @for(task of tasks; track task.id){
      <li>
        <app-task [selectedId]="selectedId" [task]="task"
        (isComplete)="onComplete($event)">Tasks here</app-task>
      </li>
    }
  </ul>
</section>

@if(isNewTaskClicked){
  <app-new-task (cancel)="onCancelClicked()" (addNewTask)="addNewTask($event)"></app-new-task>
}


