<div class="custom-scrollbar">
<dialog open class="move-right">

  <h1>{{taskName}} endpoints</h1>
  <div>
    @for(endpoint of endPointsUsed; track endpoint){
      <ul>
        <li>{{endpoint}}</li>
      </ul>
    }
  </div>

  <h1>{{taskName}} XMLs</h1>
  <div>
  <ul class="custom-scrollbar">
  @for(content of fileContents; track content){
      <li>{{content}}</li>
  }
</ul>
</div>

<button class="closeButton" type="button" (click)="onCloseButton()">Close</button>

</dialog>
</div>
